@using InternetLabs.App_Data
<div style="height: 100px; background: @Constants.PrimaryColor;">
    <img style="width: 90px;" src="../../Resources/logo.png"/>
    <div>
        <marquee behavior="scroll" direction="right" style="color: white;">@ViewBag.Title</marquee>
    </div>
</div>
@Html.Partial("Devider")