@using InternetLabs.App_Data
<div style="height: 100px; background: @Constants.PrimaryColor;">
    <div>
        <img style="width: 90px;" src="../../Resources/logo.png"/>
        @*<span style="color: white; font-size: 38px;">.Net</span>*@
    </div>
    
    <div>
        <marquee behavior="scroll" direction="right" style="color: white;">@ViewBag.Title</marquee>
    </div>
</div>
@Html.Partial("Devider")