@{
    ViewBag.Title = "Бок лабораторних робіт HTML";
}

<ul>
    <li>
        <a href="@Url.Action("Lab1", "Home")">Лабораторна №1</a>
    </li>
    <li>
        <a href="@Url.Action("Lab2", "Home")">Лабораторна №2</a>
    </li>
    <li>
        <a href="@Url.Action("Lab3", "Home")">Лабораторна №3</a>
    </li>
</ul>