@using InternetLabs.App_Data
@{
    ViewBag.Title = "Домашня сторінка";
}

<table class="tg">
    <tr>
        <th class="tg-yw4l"><span style="font-weight: bold;">.NET Framework</span><span> — программная платформа, выпущенная компанией Microsoft в 2002 году. Основой платформы является общеязыковая среда исполнения Common Language Runtime (CLR), которая подходит для разных языков программирования.</span></th>
        <th class="tg-yw4l"></th>
        <th class="tg-yw4l"></th>
    </tr>
    <tr>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l"><img src="../../Resources/pic1(cut).jpg"/></td>
        <td class="tg-yw4l"></td>
    </tr>
    <tr>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l"></td>
        <td class="tg-yw4l"></td>
    </tr>
</table>
<marquee behavior="scroll" direction="left" style="color: @Constants.PrimaryColor;">Котенко Денис Валентинович</marquee>    