@using InternetLabs.App_Data
@{
    ViewBag.Title = "Домашня сторінка";
}

<div id="task1id" style="white-space: pre;"></div>
<table class="mytable" border="4px;">
    <tr>
        <td colspan="2">
            <div id="wrapper">
                <p style="margin-top: 20px;"><b>Задача з діалоговим выкном:</b>
                </p>
                <p>1. Вывести на экран запрос на ввод фамилии и прочитать эту фамилию.</p>
                <p>2. Организовать mini-тест из 4, идущих последовательно, вопросов на тему “Операции над данными: Операции сравнения”. При этом вопросы должны предполагать два варианта ответа на них: "Да" (Ok) или "Нет" (Cancel).</p>
                <p>3. Посчитать полученную оценку.</p>
                <p>4. Вывести полученную оценку в формате: "ФАМИЛИЯ, ваша ОЦЕНКА за тест".</p>
                <form>
                    <button onclick="lab1Task2()">Запустити</button>
                </form>
            </div>
        </td>
        @*<td>
            <h4>10 фич в C#, о которых вы определённо должны узнать и начать их использовать</h4>
            <img src="../../Resources/pic.jpg" align="right" />
            <p>Если вы только начали изучение C# или же решили расширить свои знания, мы нашли для вас 10 фич, знание которых позволит вам избежать ошибок, писать более понятный код и сохранить кучу времени. </p>
        </td>*@
        <td>
            <h4>1Программа минимум: то, что должен знать любой начинающий C#-программист</h4>
            <img src="../../Resources/csharpmini.jpg" align="right" width="70px;" />
            <p>Итак, если вы ищете первую работу в качестве C#-разработчика или недавно её получили, эта статья расскажет вам, какие навыки являются необходимыми. Я постарался объединить их в единый «путь», который подойдёт желающим разрабатывать как декстоп-, так и веб-приложения.</p>
        </td>
    </tr>
    <tr>
        <td><h4>Как выбрать технологию для большого и не очень большого веб-проекта</h4>
            <img src="../../Resources/domains.jpg" align="bottom"/>
            <p>За годы работы я часто слышал вопросы о выборе технологий для того или иного веб-проекта. Кто-то спрашивает у нас, как у разработчиков, как правильно, а кто-то приходит и просит сделать на какой-то конкретной технологии.</p></td>    
        <td>
            <div style="text-align: center;">
                <h3>Слайд-шоу</h3>
                <img id="slide" src="../../Resources/pic.jpg" style="max-width: 120px;"/>
            </div>
        <td>
            <p><b>Календар</b></p>
            <div id="calendar"></div>
        </td>
    </tr>
    <tr>
        <td>
            <b>Java</b>

            <p>На Java Examples можно найти примеры на любой случай — от использования ключевых слов, вроде final, до объяснения, как выровнять иконку в Swing.</p>

            <b>C#</b>

            <p>Сайт для шарпистов С# Example вышел несколько более бедным, чем посвященный Java. Здесь вы не найдёте всех примеров, которые вам могут понадобиться, но можете найти что-то специфическое, например, как совместить несколько PrintDocument’ов.</p>
        </td>
        <td>
            <p><i>JavaScript</i></p>

            <p>Отдельный раздел JavaScript Book построен в форме самоучителя. Всего есть 13 тем, например: API, Error handling, jQuery, Events. Каждый из них содержит около десяти примеров. Правда, есть весомый минус — код выдаётся в виде текстового файла, без подсветки.</p>

            <u>Haskell</u>

            <p>Отличный способ изучить основы Haskell — ознакомиться с содержимым сайта Haskell By Examples. Здесь коротко описаны все базовые возможности языка, а примеры снабжены ссылками на Haskell Wiki.</p>

            Ruby

            Существует и аналогичный ресурс по Ruby.
        </td>
        <td><img style="width: 100%;" src="../../Resources/pic4.jpg" /><p>Для тех, кому тяжело разбираться в документации и не по душе длинные туториалы, мы сделали подборку сайтов со множеством простых и понятных примеров кода на разные темы и на разных языках. Многие из них дают хорошее представление о подходах, которые реализуют. Кстати, если совсем хотите упростить себе жизнь, то взгляните на нашу подборку интерактивных самоучителей.</p></td>
    </tr>
</table>
<marquee behavior="scroll" direction="left" style="color: @Constants.PrimaryColor;">Котенко Денис Валентинович</marquee>
@Html.Partial("game")
<span id="globe" style="position: absolute;">.Net</span>