@{
    ViewBag.Title = "Лабораторна №3. Масиви та таблиці";
}

<h1 align="center">Анімація</h1>

<p><b>Практическое задание №1</b></p>
<div id="task1id" style="white-space: pre;">
</div>

@*<span id="move-me-1" style="position: relative; border: 1px dashed black;">Я двигаюсь!</span>*@

@*<span id="move-me-2" style="position: relative; border: 1px dashed black;">Я двигаюсь!</span>*@

<span id="move-me" style="position: absolute; border: 1px dashed black; left: 100px; top: 100px;">Я двигаюсь!</span>

<div style="text-align: center;">
    <h3>Слайд-шоу</h3>
    <img id="slide" src="../../Resources/pic.jpg" style="max-width: 120px;" />
</div>


<h1 align="center">Домашне завдання</h1>

<div style="position: relative; height: 200px; width: 100%;">
    <span id="hometask1" style="position: absolute; border: 1px dashed black;">y=sin(x2)+tan(x)</span>
</div>

<div style="position: relative; height: 600px; width: 100%; background: ghostwhite;">
    <img id="traingle" src="../../Resources/traingle.png" style="position: absolute; max-width: 120px; left: 670px;"/>
    <img id="square" src="../../Resources/square.jpg" style="position: absolute; max-width: 120px; top: 429px; left: 346px;"/>
    <img id="circle" src="../../Resources/circle.png" style="position: absolute; max-width: 120px; left: 670px;" />
</div>