@{
    ViewBag.Title = "Лабораторна №2. Масиви та таблиці";
}

<h1 align="center">Масиви</h1>

<p><b>Задача №1. Вивести вміст масиву</b></p>
<form>
    <input type="button" onclick="doArrayTask()" value="Запустити" />
</form>

<p style="margin-top: 20px;" id="flashingid"><b>Задача №2:</b>
</p>
<canvas id="clockCanvas" width="380" height="380"></canvas>

<h1 align="center">Таблиці</h1>
<p><b>Задача №1. Створити календар</b></p>
<div id="calendar"></div>

<p style="margin-top: 40px;"><b>Задача №2. Таблиця множення</b></p>
<div id="multTable"></div>