@{
    ViewBag.Title = "Лабораторна №1. Основи мови JavaScript";
}

<h1 align="center">Варіант №4</h1>

<p><b>Задача №1:</b></p>
<p>1.	Вывести на экран запрос на ввод отрицательного целого числа №1 и прочитать это число и проверить его соблюдение заданного условия.</p>
<p>2.	Вывести на экран запрос на ввод отрицательного целого числа №2 и прочитать это число и проверить его соблюдение заданного условия.</p>
<p>3.	Найти произведение всех четных чисел, в диапазоне от меньшего до большего из введенных чисел.</p>
<p>4.   Вывести результат в окно сообщений.</p>
<form>
    <input type="button" onclick="lab1Task1()" value="Запустити" />
</form>

<p style="margin-top: 20px;"><b>Задача №2:</b></p>
<p>1.	Вывести на экран запрос на ввод фамилии и прочитать эту фамилию.</p>
<p>2.	Организовать mini-тест из 4, идущих последовательно, вопросов на тему “Операции над данными: Операции сравнения”. При этом вопросы должны предполагать два варианта ответа на них: "Да" (Ok) или "Нет" (Cancel).</p>
<p>3.	Посчитать полученную оценку.</p>
<p>4.	Вывести полученную оценку в формате: "ФАМИЛИЯ, ваша ОЦЕНКА за тест".</p>
<form>
    <input type="button" onclick="lab1Task2()" value="Запустити" />
</form>