@{
    ViewBag.Title = "Лабораторна №2. Таблиці";
}

<table style="width: 100%; color: white; margin-top: 6px;" border="2px;">
    <tr>
        <th bgcolor="#7cb82f">Name</th>
        <th bgcolor="#00a0dc" height="30px" colspan="2">Telephone</th>
    </tr>
    <tr>
        <td bgcolor="#00a0dc" height="80px">Bill Gates</td>
        <td rowspan="2" align="Center">
            <img src="../../Resources/pic1(cut).jpg" style="width: 100%; padding: 8px;"/>
        </td>
        <td bgcolor="#8d6cab">555 77 855</td>
    </tr>
    <tr>
        <td bgcolor="#dd5143">Bill Gates</td>
        <td bgcolor="#e68523">555 77 855</td>
    </tr>
</table>